build/
backups/
data/logs/
logs/
data/world
src/tfs
tfs
config.lua
key.pem
.codex
test_write_access.txt
eufalose*.txt
.vscode/
/vcpkg_installed
*.dll
*.exe
*.pdb
*.rar
*.log
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/
*_cotire.cmake
